
<table class="table table-striped">
  <thead>
  <tr>
    <th scope="col">#</th>
    <th scope="col"></th>
    <th scope="col">Asset Type</th>
    <th scope="col">Model</th>
    <th scope="col">Aseet Number</th>
    <th scope="col">Used By</th>
  </tr>
  </thead>
  <tbody>
  <tr *ngFor="let asset of myAssets; index as i">
    <th scope="row">{{ i + 1 }}</th>
    <td>
      <img src="assets/images/{{ asset.type | lowercase }}.jpg" class="grid-image">
      
    </td>
    <td>{{ asset.type }}</td>
    <td>{{ asset.model }}</td>
    <td>{{ asset.no}}</td>
    <td>{{ asset.useBy}}</td>
  </tr>
  </tbody>
</table>

<!--
<td>
  <img [src]="'https://upload.wikimedia.org/wikipedia/commons/' + country.flag" class="mr-2" style="width: 20px">
  {{ country.name }}
</td>
-->