<!-- <div>
  <img src="assets/images/asset-request.jpg">
</div> -->
<div class="inner-header in-h-image">
</div>
<br>
<div>
<ngb-tabset [justify]="currentJustify">
  <ngb-tab>
    <ng-template ngbTabTitle><b>Software / Hardware</b></ng-template>
    <ng-template ngbTabContent>
      <app-hardsoft></app-hardsoft>
    </ng-template>
  </ngb-tab>
  <ngb-tab>
    <ng-template ngbTabTitle><b>Share Folder Access</b></ng-template>
    <ng-template ngbTabContent>
      <app-sharedfolder></app-sharedfolder>
    </ng-template>
  </ngb-tab>
  <ngb-tab>
    <ng-template ngbTabTitle><b>USB/Pen Drive Access</b></ng-template>
    <ng-template ngbTabContent>
      <app-usb-access></app-usb-access>
    </ng-template>
  </ngb-tab>
  <ngb-tab>
      <ng-template ngbTabTitle><b>Webmail Access</b></ng-template>
      <ng-template ngbTabContent>
        <app-webmail-access></app-webmail-access>
      </ng-template>
    </ngb-tab>
</ngb-tabset>
</div>
<!-- <div class="btn-group btn-group-toggle" ngbRadioGroup [(ngModel)]="currentJustify">
  <label ngbButtonLabel class="btn-outline-primary btn-sm">
    <input ngbButton type="radio" value="start">Start
  </label>
  <label ngbButtonLabel class="btn-outline-primary btn-sm">
    <input ngbButton type="radio" value="center">Center
  </label>
  <label ngbButtonLabel class="btn-outline-primary btn-sm">
    <input ngbButton type="radio" value="end">End
  </label>
  <label ngbButtonLabel class="btn-outline-primary btn-sm">
    <input ngbButton type="radio" value="fill">Fill
  </label>
  <label ngbButtonLabel class="btn-outline-primary btn-sm">
    <input ngbButton type="radio" value="justified">Justified
  </label>
</div> -->
