.title-center {
  margin: 0 auto;
}

.toolbar-height{
  min-height: 90px !important;
  height: 90px !important;
}
.toolbarbutton-left-margin{
  margin-left: 30px;
}

.ngbtab{
  font-family: Verdana;
  font-size: smaller;
}
/* img{
  margin: auto;
  height: 250px;
  width: 1444px;
} */
.in-h-image {
  /* background: url('src\assets\images\keyboard.jpg') no-repeat; */
  background-size: cover;
}

.test {
  margin-left: 25%;
  margin-right:25%;
  width: 100%;
  font-family: Verdana;

}

