p{
      font-weight: bold;
      font-family: Verdana, Geneva, Tahoma, sans-serif;
      font-size: medium;
      color: brown;
  }
  mat-form-field{
    width: 300px;
  }
  div{
    width: 300px;
  }
