<br>
<form>
    <table>
        <tr>
              <td> Shared Folder Access </td>
              <td class="leftalign">
                <a href='#'>Create New Folder</a>
              </td>
            </tr>
            <br>
            <!-- <tr>
              <td>
                <mat-radio-group>
                    <mat-radio-button value="1">New Shared Folder</mat-radio-button>
                    <mat-radio-button value="2">Access to Existing Folder</mat-radio-button>
                </mat-radio-group>
            </td>
            </tr> -->
            <tr>
              <td>
                <div>
                  <input type="radio"
                         name="usedBy"
                         formControlName="usedBy"
                         value="self"
                         (click)="self()">Request for Self

                  <input type="radio"
                         name="usedBy"
                         formControlName="usedBy"
                         value="others"
                         (click)="others()">Request for Others
          </div>
              </td>
            </tr>
              <tr>
                  <td>
                      <mat-form-field>
                        <textarea matInput placeholder="Reason" matTextareaAutosize matAutosizeMinRows="2" matAutosizeMaxRows="5"></textarea>
                      </mat-form-field>
                  </td>
              </tr>
              <tr>
                  <td>
                    <mat-form-field>
                      <input matInput placeholder="Name of Shared Folder">
                  </mat-form-field>
                  </td>
              </tr>
              <tr>
                  <td>
                    <mat-form-field>
                      <mat-label>Type of Access</mat-label>
                      <mat-select [formControl]="accesstype" multiple>
                        <mat-option *ngFor="let accesstype of accesstypeList" [value]="accesstype">{{accesstype}}</mat-option>
                      </mat-select>
                    </mat-form-field>
                  </td>
              </tr>
    </table>

    <table>
      <thead>
          <tr>
              <th>Sr No</th>
              <th>AD ID</th>
          </tr>
      </thead>
      <tbody>

          <tr>
              <td>
                  <input class="form-control" type="text" id="newAttributeSrNo" [(ngModel)]="newAttribute.srno" name="newAttributeSrNo" />
              </td>
              <td>
                  <input class="form-control" type="text" id="newAttributeAdId" [(ngModel)]="newAttribute.adid" name="newAttributeAdId" />
              </td>
            <td>
                <button class="btn btn-default" type="button" (click)="addFieldValue()">Add</button>
            </td>
        </tr>
        <tr *ngFor="let field of fieldArray; let i = index">
          <td>
              <input [(ngModel)]="field.srno" class="form-control" type="text" name="{{field.srno}}" />
          </td>
          <td>
              <input [(ngModel)]="field.adid" class="form-control" type="text" name="{{field.adid}}" />
          </td>
          <td>
              <button class="btn btn-default"  type="button" (click)="deleteFieldValue(i)">Delete</button>
          </td>
      </tr>
    </tbody>
</table>
<table>
                  <tr>
                  <td>
                      <button mat-raised-button color="accent">Submit</button>
                      <button mat-raised-button color="accent">Clear</button>
                  </td>
              </tr>
          </table>
</form>
