<header>
    <div>
    </div>
  </header>
  <form [formGroup]="userTable">
      <table class='users'>
        <thead class="text-nowrap">
          <th class="w50">Tcode</th>
          <th class="w300">Steps for Execution</th>
          <th class="w200">Expected Result</th>
          <th class="w200">Output Result</th>
          <th class="w65">Status</th>
          <th class="w65">Action</th>
        </thead>
        <tbody>
          <ng-container formArrayName="tableRows" *ngFor="let group of getFormControls.controls ; let i=index">
            <tr *ngIf="group.get('isEditable').value" [formGroupName]="i">
              <td>
                  <input class="w50" type="text" formControlName="tcode">
              </td>
              <td>
                  <textarea class="w300" type="text" formControlName="stepsforexecution"></textarea>
              </td>
              <td>
                  <input class="w200" type='text' formControlName="expectedresult">
              </td>
              <td>
                  <input class="w200" type='text' formControlName="outputresult">
              </td>
              <td>
                  <input class="w65" type="text" formControlName="status">
              </td>
              <td>
                <mat-icon class="delete" (click)="deleteRow(i)">delete_forever</mat-icon>
                <mat-icon class="done" (click)="doneRow(group)">done</mat-icon>
              </td>
            </tr>
            <tr *ngIf="!group.get('isEditable').value" >
              <td>
                {{group.get('tcode').value}}
              </td>
              <td>
                {{group.get('stepsforexecution').value}}
              </td>
              <td>
                  {{group.get('expectedresult').value}}
              </td>
              <td>
                  {{group.get('outputresult').value}}
              </td>
              <td>
                {{group.get('status').value}}
              </td>
              <td>
                <mat-icon class="edit" (click)="editRow(group)">edit</mat-icon>
              </td>
            </tr>
          </ng-container>
        </tbody>
      </table>
      <div class="action-container">
        <button mat-raised-button type="submit" (click)="addRow()">Add row</button>
        <button mat-raised-button [disabled]="userTable.invalid" type="submit" (click)="submitForm()">Submit</button>
      </div>
    </form>
    <div class="output">
      <p>Form Data:  {{userTable.value | json}}</p>
        <p>Is Valid: {{userTable.valid}}</p>
    </div>

