<form (ngSubmit)="onSubmit()" [formGroup]="sharedfolderForm">
    <p>Request for Shared Folder Access</p>
   <div>
    
    </div> 

    <mat-form-field>
        <mat-label>Favorite food</mat-label>
        <mat-select>
          <mat-option *ngFor="let food of foods" [value]="food.value">
            {{food.viewValue}}
          </mat-option>
        </mat-select>
      </mat-form-field>
<div>
  <mat-form-field>
    <mat-label>Type of Access</mat-label>
    <mat-select formControlName="typeofAccess">
        <mat-option *ngFor="let access of acesses" [value]="accesses">
         {{asset}}
        </mat-option>
    </mat-select>
  </mat-form-field>
</div>
<div class="valid_access" *ngIf="access.invalid && access.touched">
    Please select access type 
 </div> 
<div>
    <mat-form-field>
        <input 
            matInput
            placeholder="Name of Shared Folder" 
            type="text"
            formControlName="sharedfolderName">
    </mat-form-field>
</div>
<div class="valid_sharedfoldername" 
    *ngIf="sharedfolderName.invalid && sharedfolderName.touched">
    <div *ngIf="sharedfolderName.errors.required">
        Please enter the Name of the Shared Folder
    </div>   
</div> 
<div>
    <mat-form-field>
        <textarea 
            matInput 
            placeholder="Reason"
            formControlName="reason"></textarea>
    </mat-form-field>
</div>
<div class="valid_reason" 
    *ngIf="reason.invalid && reason.touched">
    <div *ngIf="reason.errors.required">
        Please enter the reason 
    </div>   
    <div *ngIf="reason.errors.minlength">
            Minimum length of reason should be mora than five charecters
    </div>
</div> 
<button mat-raised-button type="submit" color="primary">Submit</button>
</form>

<h5>{{ message }}</h5>