table.mat-table {
    border-spacing: 0;
  }
  
  tr.mat-header-row {
    height: 56px;
  }

  th.mat-header-cell, td.mat-cell, td.mat-footer-cell {
    padding: 15px;
    border-bottom-width: 1px;
    border-bottom-style: solid;
    text-align: left;
    font-size: smaller;
  }
  
  th.mat-header-cell:first-child, td.mat-cell:first-child, td.mat-footer-cell:first-child {
    padding-left: 24px;
  }
  
  th.mat-header-cell:last-child, td.mat-cell:last-child, td.mat-footer-cell:last-child {
    padding-right: 24px;
  }
mat-form-field{ 
    width: 150px;
    margin: 10px;
    font-size: smaller;
} 
mat-label{
    font-size: smaller;
}

a{
    cursor: pointer;
}
a:hover{
    color: maroon;
}
tr.row-hover:hover {
  background: #777;
}
#childbtn{
position: relative;
align-self: flex-end;
}
