<!-- * * * * * * * * * * * * * * * * * * * * * * * 
*****------ Start of Template driven form ************

<form (ngSubmit)="onSubmit()" #assetForm="ngForm">
  <div class="container">
      <div class="radio-cat">
          <input type="radio"
                 name="assetCat"
                 #assetCat="ngModel" 
                 [(ngModel)]="asset.assetCat"
                 value="hardware">Hardware
           
          <input type="radio"
                 name="assetCat"
                 #assetCat="ngModel"
                 [(ngModel)]="asset.assetCat"
                 value="software">Software
        </div>   
       <div *ngIf="assetCat.value == 'hardware'">
            Hardware
       </div> 
       
    
    <div class="assetType">
          Asset Type
          <select name="assetType" 
                  required
                  #assetType="ngModel"
                  [(ngModel)]="asset.assetType">
              <option *ngFor='let hardware of hardwares'
              [ngValue]="hardware">{{ hardware }}</option>
              
          </select> 
        </div>
        <div *ngIf="assetType.touched && assetType.invalid">
          <div *ngIf="assetType.errors.required">
            Asset Type can't be blank
          </div>

        </div>
    <div>
      <input type="number"
               name="quantity"
               required 
               placeholder="Quantity"
               #assetQuantity="ngModel"
               [(ngModel)]="asset.quantity">
    </div>   
    <div *ngIf="!assetQuantity.valid">
        Quantity cant be blank.
    </div>
  <div>
      <input type="text"
           name="reason"
           placeholder="reason" 
           [(ngModel)]="asset.reason"
           >
  </div>
  
  <button type="submit">Submit</button>
  </div>         
</form>

value is {{ asset | json }}
* * * * * * * * -->
<!-- End of Template driven form -->
<!-- Start of  Reactive Form     -->

<form (ngSubmit)="onSubmit()" [formGroup]="assetForm">
  <div class="container">
      <div class="radio-cat">
          <input type="radio"
                 name="assetCat"
                 formControlName="assetCat"
                 value="hardware"
                 (click)="selecthardwares()">Hardware
           
          <input type="radio"
                 name="assetCat"
                 formControlName="assetCat"
                 value="software"
                 (click)="selectsoftwares()">Software
        </div>   
       <div *ngIf="">
            Hardware
       </div> 
       
    
    <div class="assetType">
          Asset Type
          <select formControlName="assetType">
              <option *ngFor='let assetcat of assetcats'
              [ngValue]="assetcat">{{ assetcat }}</option>
              
          </select> 
        </div>
        <div class="valid_assettype" *ngIf="assetType.invalid && assetType.touched">
            Select an asset Type
        </div>
    <div>
      <input type="number"
               name="quantity"
               required 
               placeholder="Quantity"
               formControlName="quantity"
               >
    </div>   
    <div class="valid_quantity"
         *ngIf="quantity.invalid && quantity.touched">
          <div *ngIf="quantity.errors.required">
            Please enter the quantity
          </div>
          <div *ngIf="quantity.errors.min">
              Quantity should be greater than zero.
            </div>
    </div>
<!---
    <div *ngIf="!assetQuantity.valid">
        Quantity cant be blank.
    </div>
-->    
  <div>
      <input type="text"
           name="reason"
           placeholder="reason" 
           formControlName="reason"
           >
  </div>
   <div class="valid_reason"
        *ngIf="reason.invalid && ( reason.dirty || reason.touched )" >
        <div *ngIf="reason.errors.required">
            Please specify a reason
        </div>
        <div *ngIf="reason.errors.minlength">
            Minimum length should be more than 5
        </div>

   </div> 

  <button type="submit">Submit</button>
  
  <button type="button" (click)="resetForm()">Reset</button>
  <button type="button" (click)="displayall()">Show Assets</button>
  </div>         
</form>
<table class="">
<tr *ngFor='let asset of assets'>
  <td>{{ asset.assetCat | json }}</td>
  <td>{{ asset.assetType | json }}</td>
  <td>{{ asset.quantity | json }}</td>
  <td>{{ asset.reason | json }}</td> 
</tr>
</table>


