<form (ngSubmit)="onSubmit()" [formGroup]="createcrForm" fxLayout="column" fxLayoutAlign="center center">
<br>
<div>
    <mat-form-field>
        <input matInput placeholder="SolMan Ticket No." formControlName="ticketno">
    </mat-form-field>
</div>
<div>
    <mat-form-field>
        <mat-label>Select Component</mat-label>
        <mat-select formcontrolname="component">
          <mat-option *ngFor="let component of componentList" [value]="component.value">
            {{component.viewValue}}
          </mat-option>
        </mat-select>
      </mat-form-field>
</div>
<div>
    <!-- <mat-form-field>   
        <input matInput type="text" placeholder="Priority" formControlName="priority">
    </mat-form-field> -->
    <mat-form-field>
        <mat-label>Select Priority</mat-label>
        <mat-select formcontrolname="priority">
          <mat-option *ngFor="let prio of prioritylist" [value]="prio.value">
            {{prio.viewValue}}
          </mat-option>
        </mat-select>
      </mat-form-field>
</div>
<div>
    <div>
        <mat-form-field>
          <mat-label>Choose a date</mat-label>
          <input matInput readonly [matDatepicker]="picker" placeholder="CR Raised On" formControlName="raisedOn" [max]="maxDate">
          <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
          <mat-datepicker #picker></mat-datepicker>
       </mat-form-field>
      </div>
</div>
<div id="child-radio">
    Select CR Type
    <mat-radio-group class="radio-group" formControlName="crType" >
        <mat-radio-button class="radio-button" *ngFor="let type of types" [value]="type.id">
            {{type.viewValue}}
        </mat-radio-button>
  </mat-radio-group> 
</div>   
<div>      
    <mat-form-field>
        <textarea matInput placeholder="Existing Process" formControlName="existingProcess"></textarea>
    </mat-form-field>
</div>
<div>
    <mat-form-field>
        <textarea matInput placeholder="Proposed Process" formControlName="proposedProcess"></textarea>
    </mat-form-field>
</div>
<div>
    <button mat-raised-button type="submit" color="primary" class="btn">Submit</button> 
    <button mat-raised-button type="reset" color="warn" class="btn">Reset</button> 
</div>
</form>
